* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

#nav {
  background-color: #b3c0d1;
}

body > .el-container {
  margin-bottom: 40px;
}

.el-aside {
  height: 100vh;
  /* background-color: #d3dce6;*/
  color: #333;
  text-align: center;
  line-height: 200px;
}

.el-main {
  height: 100vh;
  background-color: #e9eef3;
  color: #333;
  text-align: center;
}
